{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5>Change Password</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_old_password" class="form-label">Old Password</label>
                            <input type="password" class="form-control" id="id_old_password" name="old_password">
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password1" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="id_new_password1" name="new_password1">
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password2" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="id_new_password2" name="new_password2">
                        </div>
                        <button type="submit" class="btn btn-warning">Change Password</button>
                        <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
